.text-strikethrough {
    text-decoration: line-through;
}

.text-giant {
    font-size: 150%;
}

.completed-indicator {
    color: forestgreen;
}

.todo-item .completed {
    display: none;
}

.todo-item.completed .completed {
    display: block;
}

.todo-item.completed .incomplete {
    display: none;
}

.container {
    margin-top: 2rem;
}

.logo {
    float: left;
    width: 4rem;
    margin-top: -.2rem;
    margin-right: 1rem;
}

.header {
    margin: 2rem;
}
